{{- $self := . -}}
{{- $bg := .self.Scratch.Get "bg" }}

{{ "<!-- Announcement -->" | safeHTML }}
<header id="{{ .Name }}" class="fragment hero bg-white" style="padding-bottom:20px">
  <div class="jumbotron text-center mb-0 {{- printf " bg-%s" $bg -}}">
  {{- with .Params.title }}
    <div class="hero-title-container row justify-content-center align-items-start">
      <h1 class="hero-title overlay jumbotron-heading
        {{- partial "helpers/text-color.html" (dict "self" $self.self) -}}
      ">
        {{- . | markdownify -}}
      </h1>
    </div>
  {{- end -}}
  {{- with .Params.subtitle }}
    <div class="hero-subtitle-container row justify-content-center align-items-start">
      <div class="hero-subtitle overlay lead
        {{- partial "helpers/text-color.html" (dict "self" $self.self) -}}
      ">
        {{- . | markdownify -}}
      </div>
    </div>
  {{- end -}}
  <div class="hero-buttons">
    {{- range .Params.buttons }}
      <a class="overlay btn btn-lg m-2
        {{- if hasPrefix .url " # " }} anchor{{ end -}}
        {{- $color := .color | default "primary" -}}
        {{- printf " btn-%s " $color -}}
      " href="{{ .url | relLangURL }}">
        <div class="column justify-content-center align-content-center">
          {{- .text -}}
        </div>
      </a>
    {{- end }}
  </div>
  </div>
</header>
