{{- $items := where (.page.Resources.Match (printf "%s/*.md" .Name)) ".Name" "ne" .self.Name -}}
{{- $self := . -}}
{{- $bg := .self.Scratch.Get "bg" }}

{{ "<!-- Gallery -->" | safeHTML }}
<section id="the-dumux-carousel" class="fragment bg-{{$bg}}">
<div id="dumux-carousel" class="carousel slide" data-ride="carousel">
  <!-- The indicators: small lines on the bottom acting as a navigation through carousel -->
  <ol class="carousel-indicators">
    {{- if eq (len $items) 0 -}}
      {{- partial "helpers/empty-subpath.html" (dict "context" "items" "root" $) -}}
    {{- else -}}
      {{- range $index, $item := $items -}}
        {{/* Handle special case of index.md being considered an item */}}
        {{- if not (in .Name "/index.md") -}}
          {{- $item := .Params }}
          <li class="carousel-indicator" data-target="#dumux-carousel" data-slide-to="{{$index}}"></li>
        {{- end -}}
      {{- end -}}
    {{- end -}}
  </ol>
  <!-- The carousel entries -->
  <div class="carousel-inner" role="listbox">
    {{- if eq (len $items) 0 -}}
      {{- partial "helpers/empty-subpath.html" (dict "context" "items" "root" $) -}}
    {{- else -}}
      {{- range $index, $item := $items -}}
        {{/* Handle special case of index.md being considered an item */}}
        {{- if not (in .Name "/index.md") -}}
          {{- $item := .Params }}
          {{- $bg := .Params.background }}
          <div class="carousel-item bg-{{$bg}}">
            <!-- Make a new row to have image and text next to each other -->
            <div class="row align-items-center">
              <!-- First column with image -->
              <div class="col-md-6 col-sm-6 col-xs-6">
                <img class="d-block align-middle mx-auto img-fluid" style="max-height:400px; max-width:550px;" data-lazy-load-src="{{ partial "helpers/image.html" (dict "root" $self "asset" .Params.header) }}">
              </div>
              <!-- Second column with text -->
              <div class="col-md-4 col-sm-4 col-xs-4 text-left m-4" style="min-height:400px;">
                <!-- This is title and subtitle of the markdown file of each carousel item -->
                {{- if .Params.title }}
                    <h3 class="{{- partial "helpers/text-color.html" (dict "self" $self.self) -}}">
                      {{- .Params.title | markdownify -}}
                    </h3>
                    {{- if .Params.subtitle }}
                      <h5 class="{{- partial "helpers/text-color.html" (dict "self" $self.self "light" "secondary") -}}">
                        {{- .Params.subtitle | markdownify -}}
                      </h5>
                    {{- end }}
                {{- end -}}
                <!-- This is the content of the markdown file of each carousel item -->
                {{- if .Content }}
                  <div class="{{- partial "helpers/text-color.html" (dict "self" $self.self "light" "secondary") -}}">
                    {{ .Content }}
                  </div>
                {{- end }}
              </div>
              <!-- Spacer column -->
              <div class="col-md-2 col-sm-2 col-xs-2"></div>
            </div>
          </div>
        {{- end -}}
      {{- end -}}
    {{- end -}}
  <!-- The controls: left and right arrow to skip through carousel -->
  <a class="carousel-control-prev" href="#dumux-carousel" role="button" data-slide="prev">
    <i style="font-size:60px;color:#1074ca" class="fas fa-arrow-alt-circle-left"></i>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#dumux-carousel" role="button" data-slide="next">
    <i style="font-size:60px;color:#1074ca" class="fas fa-arrow-alt-circle-right"></i>
    <span class="sr-only">Next</span>
  </a>
</div>
</section>


<script>
// get random int with min and max included in the range
function randomIntFromInterval(min, max) {
  return Math.floor(Math.random() * (max - min + 1) + min);
}

// lazy load an image source if not loaded already
function loadSlideImage(nextImage) {
  var src = $(nextImage).data('lazy-load-src');
  if (typeof src !== "undefined" && src != "") {
    $(nextImage).attr('src', src)
    $(nextImage).attr('data-lazy-load-src', '');
  }
}

// randomly choose first slide in the carousel
function carouselRandomlyChooseFirstSlide() {
  var carouselItems = $('#dumux-carousel .carousel-item')
  var carouselIndicators = $('#dumux-carousel .carousel-indicator')
  var numberOfItems = carouselItems.length
  if (numberOfItems) {
    var randomNumber = randomIntFromInterval(0, numberOfItems-1)
    carouselItems.each(function (index, item) {
      if (index == randomNumber) {
        var nextImage = $(item).find('img');
        loadSlideImage(nextImage);
        $(item).addClass("active");
        $(carouselIndicators[index]).addClass("active");
      } else {
        $(item).removeClass("active");
        $(carouselIndicators[index]).removeClass("active");
      }
    });
  }
}

// normalize height of slide to the tallest slide
function carouselNormalization() {
  // get all the slides
  var items = $('#dumux-carousel .carousel-item');
  var slideHeights = [];
  var maxHeight;

  if (items.length) {
    function normalizeHeights() {
       // add each slide's height to the array of heights
      items.each(function() {
        slideHeights.push($(this).height());
      });

      // compute maximum slide height
      maxHeight = Math.max.apply(null, slideHeights);

      // set each slide's minimum height to the maximum height found
      items.each(function() {
        $(this).css('min-height', maxHeight + 'px');
      });
    };

    normalizeHeights();

    // re-normalize if the window gets resized
    $(window).on('resize orientationchange', function() {
      maxHeight = 0, slideHeights.length = 0;

      items.each(function() {
        $(this).css('min-height', '0');
      });

      normalizeHeights();
    });

    // re-normalize if we went to the next slide
    $('#dumux-carousel').on('slid.bs.carousel', function(e) {
      normalizeHeights();
    });
  }
}

// call the functions above when loading the page
(function() {
  // make sure not to overwrite other callbacks
  var previousOnLoadIfAny = window.onload;
  window.onload = function() {
    if (typeof previousOnLoadIfAny === 'function') {
      previousOnLoadIfAny();
    }

    carouselRandomlyChooseFirstSlide();
    carouselNormalization();

    // register event handler to lazy load slide images
    $('#dumux-carousel').on('slide.bs.carousel', function(e) {
      // find next image in carousel and load it
      var nextImage = $(e.relatedTarget).find('img');
      loadSlideImage(nextImage);
    });
  }
}());

// add keyboard arrow events to slide left or right
$(document).keydown(function(e) {
    if (e.keyCode === 37) {
       $(".carousel-control-prev").click();
       return false;
    }
    if (e.keyCode === 39) {
       $(".carousel-control-next").click();
       return false;
    }
});

</script>
<!-- Overwrite bg-color of carousel indicators -->
<style>
.carousel-indicators li {
    background-color: #0c73ce;
}

.carousel-indicators li.active {
    background-color: #00838f;
}
</style>
